<!DOCTYPE html>
<html>

<head>
  <title>Virtual Agent</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h1>Welcome to Virtual Agent.</h1>
<br>
Please select your extension:
<br>
<a href='80001'>80001</a> 
<br>
<a href='80002'>80002</a> 
<br>
<a href='80003'>80003</a> 
<br>
<a href='80004'>80004</a>  
<br>
<a href='80005'>80005</a>  
</body>
<!-- JSSIP-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
</html>