<!DOCTYPE html>
<html>

<head>
  <title>Virtual Agent</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <video id="remoteView" autoplay></video>
  <video id="selfView" autoplay></video>
  <button id="answer_btn" type="button" onclick="accept_call()"> Answer </button>

  <!-- Jssip hidden data -->
  <div hidden>
    <div id="my_sip_uri"> </div>
    <div id="ws_servers"> </div>
    <div id="sip_password"> </div>
    <div id="pc_config"> </div>
  </div>

</body>
<!-- JSSIP-->
<script type="text/javascript" src="./javascripts/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/jssip.min.js"></script>
<script type="text/javascript" src="./javascripts/myJssip.js"></script>
<script type="text/javascript" src="./javascripts/RecordRTC.js"></script>
<!-- Socket.io -->
<script src='/socket.io/socket.io.js'></script>
<script type="text/javascript">
  $(document).ready(function () {


        var ws = "wss://njsip.task3acrdemo.com/ws";
        var sipUri = "sip:80001@njsip.task3acrdemo.com";
        var pw = "1qaz1qaz";
        var stun =  "stun:newstun.task3acrdemo.com:3478";
        
        //store in hidden fieldset
				$('#display_name').val(data.extension);
				$('#ws_servers').attr("name", ws);					 
				$('#my_sip_uri').attr("name",sipUri);
        $('#sip_password').attr("name",pw);
 				$("#pc_config").attr("name",stun);

        //now register
        register_jssip(ws, sipUri, pw, stun);
      
        var socket = io();
        socket.on('connect', function (data) {
          console.log('Connected to socket.io');
          socket.emit('register-virtualagent');
        }).on('newCall', function (data) {
          console.log('newCall');
        }).on('callEnd', function (data) {
          console.log('callEnd');
        });
      });
</script>

</html>