<!DOCTYPE html>
<html>

<head>
  <title>Virtual Agent</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <video id="remoteView" autoplay></video>
  <video id="selfView" autoplay></video>
  <button id="answer_btn" type="button" onclick="accept_call()"> Answer </button>

  <!-- Jssip hidden data -->
  <!-- Remove
  <div hidden>
    <div id="my_sip_uri"> </div>
    <div id="ws_servers"> </div>
    <div id="sip_password"> </div>
    <div id="pc_config"> </div>
  </div>
-->


  <div id="call-option-buttons">
    <div id="inner">
      <button id="mute-audio" type="button" class="btn btn-gray" onclick="mute_audio()"> <i id= "mute-audio-icon" class="call-btn-icon fa fa-microphone"></i> </button>
      <button id="hide-video" type="button" class="btn btn-gray" onclick="hide_video()"> <i class="call-btn-icon fa fa-video-camera"></i>  <div id= "hide-video-icon" class = "fa fa-close fa-close-style" style="display: none;"></div> <!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed--></button>
      <button id="end-call" type="button" class="btn btn-danger" onclick="terminate_call()"> <i class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button>
    </div>
  </div>



</body>
<!-- JSSIP-->
<script type="text/javascript" src="./javascripts/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/jssip.min.js"></script>
<script type="text/javascript" src="./javascripts/myJssip.js"></script>
<script type="text/javascript" src="./javascripts/RecordRTC.js"></script>
<!-- Socket.io -->
<script src='/socket.io/socket.io.js'></script>
<script type="text/javascript">
  $(document).ready(function () {




    /* Remove
        //store in hidden fieldset        
				$('#ws_servers').attr("name", ws);					 
				$('#my_sip_uri').attr("name",sipUri);
        $('#sip_password').attr("name",pw);
 				$("#pc_config").attr("name",stun);
         */

    

    var socket = io();
    socket.on('connect', function (data) {
      console.log('Connected to socket.io');
      socket.emit('register-virtualagent');
    }).on('registerJssip', function (data){
      console.log('Registering JSSIP');
      register_jssip(data.ws, data.sipUri, data.pw, data.stun);
    }).on('newCall', function (data) {
      console.log('newCall');
    }).on('callEnd', function (data) {
      console.log('callEnd');
    });
  });
</script>

</html>